/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato {
  border: solid 2px black;
}

.parola {
  animation: ruota 2s 2s infinite;
  width: 100px;
}
.parole {
  position: relative;
}

main {
  padding: 200px;
}

@keyframes ruota {
  25% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(270deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

i {
  position: absolute;
  animation: fadeIn 3s 3s both infinite;
  transform: translate(-50%, 0);
  left: 5px;
  opacity: 0;
}
i:nth-child(2) {
  position: absolute;
  animation: fadeIn 3s 5s both infinite;
  transform: translate(-50%, 0);
  left: 5px;
  opacity: 0;
}
i:nth-child(3) {
  position: absolute;
  animation: fadeIn 3s 7s both infinite;
  transform: translate(-50%, 0);
  left: 5px;
  opacity: 0;
}
